/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu a {
  font-family: 'Roboto' ,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1B0A42;
  text-decoration: none;
  padding-right: 40px;
}

.logo {
  margin-right: 90px;
}

.header-navigation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 80px;
}

.main-contant h1 {
  font-family: 'Ramaraja';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0.02em;
  color: #1B0A42;
  width: 498px;
  -webkit-transform: translate(80px, 200px);
          transform: translate(80px, 200px);
}

.main-contant p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #9A9A9A;
  width: 533px;
  -webkit-transform: translate(80px, 202px);
          transform: translate(80px, 202px);
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-banner img {
  width: 430px;
  -webkit-transform: translateY(-73px);
          transform: translateY(-73px);
}

.main .btn {
  width: 150px;
  height: 60px;
  -webkit-transform: translate(80px, 263px);
          transform: translate(80px, 263px);
  position: relative;
  -webkit-animation: mymove 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@-webkit-keyframes example {
  from {
    background: red;
  }
  to {
    background: blue;
  }
}

@keyframes example {
  from {
    background: red;
  }
  to {
    background: blue;
  }
}

body {
  width: 100px;
  height: 100px;
  background-color: #f39df3;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

.wrapper {
  width: 1130px;
  margin: 0 auto;
  padding-top: 80px;
}

.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: #4F56F1;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn.transparent {
  font-weight: 400;
  background-color: transparent;
  color: #1B0A42;
}
/*# sourceMappingURL=style.css.map */